{% extends "includes/layout.njk" %}

{% from "govuk-frontend/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk-frontend/components/radios/macro.njk"         import govukRadios %}
{% from "govuk-frontend/components/button/macro.njk"        import govukButton %}
{% from "govuk-frontend/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}

    {% set titlePrefix = messages("error.title.prefix") if errorSummary else "" %}

    {{ titlePrefix + ' ' + messages("livesInUK.title") }}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if errorSummary %}
          {{ govukErrorSummary(errorSummary) }}
        {% endif %}

        <form action="{{ routes.controllers.SingleComponentController.submitLivesInUK().url }}" method="post">

          {{ csrf() | safe }}

          {{ govukRadios(radios) }}

          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
