
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "includes/layout.njk" %}

{% block pageTitle %}
  {% set titlePrefix = messages("error.title.prefix") if errorSummary else "" %}
  {{ titlePrefix + ' ' + messages("radios.title") }}
{% endblock %}


{% block content %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("site.error-summary"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.RadiosController.post().url }}" method="post">

          {{ csrf() | safe }}


              {{ govukSelect({
                id: "sort",
                name: "sort",
                label: {
                  text: "Sort by"
                },
                items: items
              }) }}


          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}